/* Style Guide
  * Primary Color: slategray
  * Secondary Color: coral 
*/

/* CSS Variables */

main { 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

main img {

  grid-column: 1 / 1;
}

@font-face { font-family: Fredericka the Great; src: url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap'); } 

@font-face { font-family: 'IBM Plex Sans'; src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap'); } 

@font-face { font-family:'Vidaloka'; src: url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap'); } 

.me {
  max-width: 50%;
  margin-left: 160px;
  border: 5px #38363D;
}

body {
  margin:0px;
}
.colour-block {
  background: #E9A90F;
  width:60%;
  padding:7% 20% 10% 20%;
  color: #fff;
}
.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color: #38363D;
 
}


h1 {
  text-align:center;
  font-size:80px;
  font-family:'Fredericka the Great', serif;
  font-weight:normal;
}

h2 {
  text-align:center;
  font-family: 'Vidaloka', serif;
  letter-spacing: 1px;
  font-size: 25px;
}

h3 {
  text-align:center;
}

h4 {
  font-family: 'Vidaloka', serif;
  letter-spacing: 1px;
  font-size:20px;
}

p {
  font-size: 20px;
  font-family: 'IBM Plex Sans', serif;
}


/*----------------*/
/*  SCALLOP down  */
/*----------------*/
.scallop-down{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#E9A90F), color-stop(0.49, #E9A90F), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
}


/*----------------*/
/*  SCALLOP up    */
/*----------------*/
.scallop-up{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#E9A90F), color-stop(0.49, #E9A90F), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
}

.form {
  text-align:center;
}


.project {
  max-width: 75%;
  margin-left: 80px;
  border: 5px #38363D;
}